.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 80px;
  height: 100vh;
  background: linear-gradient(to bottom, #ffffff, #3d57c2); /* Gradient restored */
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.left-content {
  max-width: 40%;
}

.left-content h3 {
  font-size: 24px;
  font-weight: 600;
  color: #334EAC;
  line-height: 1.4;
  margin-bottom: 24px;
}

.left-content h3 span {
  color: #334EAC;
}

.brand-logo {
  width: 500px;
  height: auto;
  margin-top: 10px;
}

.right-content {
  position: relative;
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: -10%;

}

.footer-illustration {
  width: 80%;
  height: auto;
  object-fit: contain;
  margin-top: 20; /* push it to bottom */
  margin-bottom: 1px; /* space above footer-links */
  padding-top: 4%;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  z-index: 2;
}

.social {
  display: flex;
  gap: 16px;
  margin-bottom: 10px;
}

.social img {
  width: 20px;
  height: 20px;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

.nav ul li {
  margin-bottom: 10px;
}

.nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
}

.footer-links {
  display: flex;
  gap: 20px;
  font-size: 14px;
  color: #ffffff;
  margin-top: 30px;
  align-self: flex-end;
  padding: 20px;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
}